* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
} 

.hero {
    background-color: #1F2937;
    min-height: 800px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}  
header {
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    padding: 5em 2em; 
   
   
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    letter-spacing: 1.5px;
}

header > ul {
     display: flex;
    
}

header > ul > li {
    font-size: 18px;
    list-style: none;
    padding-right: 1em;
    letter-spacing: 1.5px;
    text-align: center;
}

li > a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 5px 13px;
}

li > a:hover {
    color: #3882f6;
    
}
.hero-content-box {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: center;
    margin-right: 10em;
    
}
.hero-text > h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: .6em;
    letter-spacing: 3px;
    margin-top: 1.5em;
}
.awesome {
    display: block;
    letter-spacing: 3px;
}

.hero-text > p {
    font-size: 18px;
    color: #e5e7eb;
    line-height: 1.5;
    margin-bottom: 2em;
    max-width: 80%;
}

.hero-btn {
    background-color: #3882f6;
    color: #f9faf8;
    height: 50px;
    width: 120px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
}

.hero-btn:hover {
    background-color: #f9faf8;
    color: #3882f6;
    
}

.hero-img {
    background-color: gray;
    display: flex;
    margin-bottom: 3em;
    margin-top: 1em;
    min-height: 400px;
    max-width: 400px;
    position: relative; 
    right: 4em;

}
.information {
    padding: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
 }

.information-heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 1em;
    
}

.box-container {
    display: flex;
    gap: 15px; 
    justify-content: space-around; 
    align-items: center;
    padding: 2em;
}

.box > img {
    min-height: 200px;
    max-width: 200px;
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: .8em;
} 


.quote-container {
    background-color: #efe7eb;
    text-align: justify;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    max-width: 65%;
    margin: 0 auto; 
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    margin-left: 59%;
    padding-bottom: 3em;
}

.cta {
   min-height: 40vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cta-box {
    background-color: #3882f6;
    min-width: 90%;
    display: flex;
    border-radius: 6px;
    padding: 2em;
}

.cta-text {
    text-align: justify;
    font-size: 24px;
    color: #f9faf8;
    padding: 1em;
    line-height: 1.5;
}

.cta-heading{
    font-weight: 900;
    margin-bottom: 5px;

}
.cta-btn {
    color: #3882f6;
    background-color: #f9faf8;
    height: 50px;
    width: 120px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    border: 3px solid #f9faf8;
    align-self: center;
    margin-left: 2em;
    
}

.cta-btn:hover {
    border: 3px solid #f9faf8;
    color: #f9faf8;
    background-color: #3882f6;
}

footer {
    font-size: 24px;
    background-color: #1f2937;
    color: #f9f9f9;
    min-height: 120px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px) {
    .box-container {
        display: block;
    }
    
}

@media (max-width: 760px) {
    .hero-content-box {
        display: block;

    }
}